[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/token-voting-plugin"]
	path = lib/token-voting-plugin
	url = https://github.com/hats-protocol/token-voting-plugin
	branch = hats
[submodule "lib/osx-capital-distributor"]
	path = lib/osx-capital-distributor
	url = https://github.com/hats-protocol/osx-capital-distributor
	branch = direct-allocation-strategy
[submodule "lib/osx"]
	path = lib/osx
	url = https://github.com/aragon/osx
[submodule "lib/osx-commons"]
	path = lib/osx-commons
	url = https://github.com/aragon/osx-commons
[submodule "lib/admin-plugin"]
	path = lib/admin-plugin
	url = https://github.com/aragon/admin-plugin
[submodule "lib/ve-governance"]
	path = lib/ve-governance
	url = https://github.com/hats-protocol/ve-governance
	branch = self-delegating-adapter
[submodule "lib/hats-protocol"]
	path = lib/hats-protocol
	url = https://github.com/hats-protocol/hats-protocol
[submodule "lib/staged-proposal-processor-plugin"]
	path = lib/staged-proposal-processor-plugin
	url = https://github.com/aragon/staged-proposal-processor-plugin
